/**
 * custom css
 * a place to override variables in the main _variables.scss
 * Thus, to provide a more customized look and feel
 */

//==============================================================================
// Custom Colors
//==============================================================================

// remove because the variable already has an assignment, it will not be re-assigned

$background : rgb(165, 60, 60);
$primary-color : rgb(131, 46, 201);
$secondary-color : #29de7d;
$accent-color : #cdcdcd;
$alternate-background : #fafafa;
$alternate-color : #404040;
$link-color : $primary-color;
$link-hover-color : darken($link-color, 15%);
$highlight : #ffeea8;
$error : #D33C40;
$success : #29de7d;
$bq-border : 16px solid #f0f0f0;